body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}
header {
	position: fixed;
	background: #22242A;
	padding: 20px;
	width: 100%;
	height: 30px;
}

.left_area h3 {
	color: #fff;
	margin:0;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;
}
.left_area span {
	color: #1DC4E7;
}
.logout_btn {
	padding: 5px;
	background: #19B3D3;
	text-decoration: none;
	float: right;
	margin-top: -30px;
	margin-right: 40px;
	border-radius: 2px;
	font-size: 15px;
	font-weight: 600;
	color: #fff;
	transition: 0.5s;
	transition-property: background;
}
.logout_btn:hover {
		background: #0D9DBB;
		
}
.sidebar {
	background: #2F323A;
	margin-top: 70px;
	padding-top: 30px;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	transition: 0.5s;
	transition-property: left;
	overflow: auto;
	
}
.sidebar .profile_image {
	width: 100px;
	height: 100px;
	border-radius: 100px;

	
}
.sidebar h4{
	color: #ccc;
	margin-top: 0;
	margin-bottom: 20px;
}
.sidebar a{
	color: #fff;
	display: block;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
	box-sizing: border-box;
	transition: 0.5s;
	transition-property: background;
}
.sidebar a:hover {
	background: #19B3D3;
}
.sidebar i {
	
	padding-right: 10px;
	
}

label #sidebar_btn {
	z-index: 1;
	color: #fff;
	position: fixed;
	cursor: pointer;
	left: 300px;
	font-size: 20px;
	margin: 5px 0;
	transition: 0.5s;
	transition-property: color;
}

label #sidebar_btn:hover{
	color:  #19B3D3;
	
}

#check:checked ~.sidebar {
	left: -190px;
	
}
#check:checked ~.sidebar a span{
	display:none;
	
}
#check:checked ~.sidebar a{
	font-size: 20px;
	margin-left: 170px;
	width: 80px;
}
.content {
	margin-left: 300px;
	padding-top: 100px;
}
.webhook {
	padding-top: 200px;	
}
#check {
	display: none;
}
#subjects {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
    width: 110%;  
}

#subjects td, #subjects th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#subjects tr:nth-child(even){background-color: #f2f2f2;}

#subjects tr:hover {background-color: #ddd;}

#subjects th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#paymaya th{ 
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	color: white;
	background-color: #00344E
}
.arrow {
	position: relative;
	right: 10px;
}
  
.sidebar ul{
  background: #2F323A;
  height: 100%;

  list-style: none;
}


.sidebar ul li.active a{
  color: cyan;
  background: #2F323A;
  border-left-color: cyan;
}

.sidebar ul ul{
  position: static;
  display: none;
}
.sidebar ul .payment-show.show{
  display: block;

}
.sidebar ul .status-show.show{
  display: block;

}
.sidebar ul .transaction-show.show{
  display: block;

}
.sidebar ul ul li{
  line-height: 42px;
  border-top: none;
}
.sidebar ul ul li a{
  font-size: 15px;
  color: #e6e6e6;
  padding-left: 10px;
}

 .payNow {
 	width: 344px;
	height: 45px;
	border: none;
	background: steelblue;
	color: white;
	float: right;
	margin-right: 15px;
	
}
.danger {
	border: none;
	background: darkred;
	color: white;
}
.delete {
	width: 100px;
	padding:5px;
	border-radius: 50px;
}
.primary {
 	width: 344px;
	height: 45px;
	border: none;
	background: steelblue;
	color: white;
	float: right;
	margin-right: 15px;
	
}
.createWebhook {
	margin: 0 auto;
	display: block;
	width:80%;
}
.createWebhook .url {
	float:right;
	margin-top: 0 !important;
	margin-right: 10px;
	margin-bottom: 20px;
}
.paymongo {
   margin-bottom: 20px;
   float: right;
   width: 344px;
   height: 40px;
   border: none;
   background: #04AA6D;
   color: white;
}
a {
	text-decoration: none;
	color: white;
}
input[type=number],input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.nav {
	width: 100%;
  background-color: #333;
	height: 55px;
}
.button {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px;
	margin-bottom: 5px;
}


ul {
	list-style:none;
	padding: 0;
	margin: 0;
	position: absolute;
}
ul li {
	float: left;
	margin-top: 10px;
	
	
}

.title-header {
	text-align: center !important;
}

ul li .a1{
	
	width: 150px;
	color: white;
	display:block;
	text-decoration: none;
	font-size: 15px;
	text-align:center;
	padding: 0px;
	border-radius: 10px;
	font-family:Century Gothic;
	
}
.a1:hover {
	background:#669900;
	text-decoration: none;
	
}
ul li ul {
	
	  background-color: #333;
}
ul li ul li {
	float:none;
}
ul li ul {
	display: none;
}

ul li:hover ul {
	display:block;
}